// Navigation Styles here

.nav-container {
        max-width: 1000px;
        width: 100%;

    nav {
        .custom-layout(flex-end, center);
        padding-top: 3rem;
        padding-bottom: 2rem;

        a {
            padding: 0px 4rem 1rem 0px;
            font-size: 1.6rem;
            text-decoration: none;
        }
    }
}

h1 {
    padding-right: 27.5%;
}